body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: blue;
}

.todo-container{
    max-width: 400px;
    margin: 0 auto;
    background: rgb(253, 255, 221);
    padding: 1.25em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.9em rgba(0,0,0, 0.25);
}

.input-container{
    display: flex;
    justify-content: space-between;
    border-radius: 1.25em;
    background-color: white;
}

.todo-input{
    border: none;
    padding: 0.9em;
    border-radius: 1.25em;
    width: 100%;

}
.todo-input:focus {
    outline: none;
}

#add-task-btn{
    border: none;
    padding: 0.9em;
    border-radius: 1.25em;
    background-color: blue;
    color: white;

}

#add-task-btn:hover{
    opacity: 0.7;
}

.todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    background-color: white;
    border-radius: 0.4375em;
    margin-bottom: 0.3em;
}

.delete-btn {
    border-radius: 1.25em;
    padding: 0.625em 0.9em;
    border: none;
    background-color: blue;
    color: white;
}

.delete-btn:hover{
    opacity: 0.7;
}

.todo-item.completed {
    text-decoration: line-through 0.125em blue;
    opacity: 0.7;
}